.para {
  color: white;
  font-family: Verdana;
  font-weight: Normal;
  text-align: center;
  font-size: 50px;
}

.para-two {
  color: white;
  font-family: Verdana;
  font-weight: Normal;
  text-align: center;
  font-size: 42px;
}
.para-three {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
  text-align: center;
}
.footer {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
  text-align: right;
}

.download {
  color: aquamarine;
}

.backcolor{
  background-color: black;
}

.position {
  text-align: center;
  font-size: 16px;
}
